@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* youtube background */

.youtubeGG {
		position: relative;
		width: 100%;
		height: 700px;
		overflow: hidden;
	}

	.youtubeGG:before {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}

	.youtubecontent{
		position: relative;
		z-index: 0;
		top: 50%;
		height: 0;
		overflow: hidden;
		padding-bottom: 60%;
		margin-top: -28%;
	}

	.youtubecontent iframe,
	.youtubecontent object,
	.youtubecontent embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/* , body and search */

	body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    line-height: 1.4em; 
    word-spacing: .1em;
    letter-spacing: .1em;
    color: #dcf3ff;
    text-shadow: 5px 4px 5px #000000;
    background-image: url('https://media.giphy.com/media/ueDlSdQzlsclG/giphy-downsized-large.gif');
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: #ff5050;
    text-decoration: none;
}

a:link:hover {
	color: #e4e9fe;
}

#container {
    width: 740px;
    background: #fff;
    margin: auto;
}

.clearfix {
    clear:both;
}

header {
	text-align: center;
	opacity: .9;
    padding: 30px 40px;
    background: rgba(18, 17, 17, 0.9)
}

h1 {
	font-size: 50px;
    color: #2ca2d5;
    margin-bottom: -5px;
}

h1 span {
    color: rgba(255, 9, 6, 0.94);
}

section {
    padding: 40px 50px 30px 20px;
    background: black;
    opacity: .9;
}

footer {
    padding: 20px;
    background: rgba(18, 17, 17, 0.9);
    opacity: .9;
    text-align: center;
}

input {
	text-align: center;
	color: rgba(255, 9, 6, 0.94);

}

#search-form {
    display: block;
    margin-bottom: 15px;
}

.fieldcontainer {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.search-field { 
    padding: 11px 7px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
    background: rgb(210, 234, 252);
    border: 3px solid #8a3a3a;
    font-size: 1.6em;
}


#results li {
    padding: 25px 0;
    border-bottom: 5px dotted #ededfc;
    list-style: none;
    overflow: auto;
    color: #ededfc;
}
.list-left {
    float: left;
    width: 20%;
}
.list-left img {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
}
.list-right {
    float: right;
    width: 78%;
}
.list-right h3 {
    margin: 0;
}
.list-right p {
    margin: 0;
}

.cTitle {
    color: #96dbf7;
}

.button-container {
    margin-top: 25px;
    
}

.paging-button {
    background: #61a3be;
    padding: 12px 12px;
    border: 2px solid #746e6e;
    border-radius: 60px;
    color: #ede4e4;
    margin: 20px;
    cursor: pointer;
}

.paging-button:hover {
	background-color: #f54747;
	color: #000000;
	border: 2px solid #bfcdd7;
 	opacity: .8;
};

